<nav>
    <a href="" class="nav-content nav-link nav-title"><b>Some Image Viewer</b></a>
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="viewpost.html">View an Image</a>
    <a class="nav-link" href="postimage.html">Post an Image</a>
    <a class="nav-link" href="/login">Login</a>
    <a class="nav-link" href="registration.html">Registration</a>
</nav>