<div class="container">
    <main>
        <section class="flex-container column">
            <h2>Post an Image</h2>
            <form>
                <fieldset class="main-field">
                    <div class="column-md">
                        <label class="input-label" for="imageTitle">Title</label>
                        <input class="input-text" type="text" name="imageTitle" placeholder="Title" required>
                    </div>
                    <div class="column-md">
                        <label class="input-label" for="imageDesc">Description</label>
                        <input class="input-text" type="paragraph" name="imageDesc" placeholder="Description">
                    </div>
                    <div class="column-md">
                        <label class="input-label" for="image">Image(s)</label>
                        <input class="input-file" type="file" name="images" id="images" multiple="multiple" required>
                    </div>
                    <br>
                    <div class="column-md">
                        <input type="checkbox" name="aup" id="aup" required>
                        <label for="aup">Before posting, please accept the Acceptable Use Policy</label>
                    </div>
                    <div class="column-md">
                        <input class="post-button" type="submit" value="Post Image">
                    </div>
                </fieldset>
            </form>
        </section>
    </main>
</div>