/*TODO: Figure out some styline for checkboxes*/

* {
  box-sizing: border-box;
}

:root {
  --default-font: 16px "Lato", Helvetica, sans-serif;
  --primary: #1C1C1C;
  --primary2: #161616;
  --secondary: #303030;
  --secondary2: #282828;
  --tertiary: #232323
}

body {
  font: var(--default-font);
  background-color: var(--primary);
  color: #EFEFEF;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding-right: 1.1em;
  padding-left: 1.1em;
}

.main-container {
  background-color: var(--secondary);
}

.img-container {
  background-color: var(--tertiary);
}

.flex-container {
  padding: 0.75em 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.flex-container.row {
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container.column {
  flex-direction: column;
}

.column-lg {
  padding: 0.21em;
  flex-grow: 9;
}

.column-md {
  padding: 0.21em;
  flex-grow: 1;
}

.row-lg {
  flex-grow: 9;
}

.row-md {
  flex-grow: 0;
}

.force-right {
  text-align: right;
}

.img-container img {
  display: block;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: auto;
}

.nav-content {
  display: inline;
  text-decoration: none;
  float: left;
}

.nav-title {
  background-color: var(--secondary);
}

.post-flex.row-md {
  flex-basis: 25%;
}

.post-container {
  border-radius: 0.5em;
  background-color: var(--secondary);
  transition: all 0.3s ease-in-out;
}

.thumbnail-container {
  display: block;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 350px;
  object-fit: scale-down
}

.input-text {
  font: var(--default-font);
  padding: 0.21em;
  width: 14.28em;
  height: 1.7em;
  display: block;
  margin: auto;
  border: 0.07em var(--secondary);
  border-radius: 0.14em;
  color:#EFEFEF;
  background-color: var(--primary);
}

.post-button {
  font: var(--default-font);
  background-color: var(--tertiary);
  color: #EFEFEF;
  border: none;
  display: block;
  margin: auto;
  padding: 0.357em;
}

.input-label {
  font-size: 1.14rem;
  padding: 0.14em;
  display: block;
  text-align: center;
  margin: auto;
}

.input-file {
  display: block;
  margin: auto;
}

.main-field {
  border-radius: 0.357em;
  border-color: var(--tertiary);
  background-color: var(--secondary);
}

a {
  color: #00B7FF;
}

a.nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 1em 1.14em;
  color: #EFEFEF;
}

nav ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--secondary)
}

nav li:hover {
  background-color: var(--tertiary)
}

.input-text:focus {
  outline: 0.142em solid #008b8b;
}

.post-button:hover {
  background-color: var(--secondary2);
}

.post-button:active, .post-button:focus {
  outline: var(--primary2) solid 0.142em;
  box-shadow: -0.214em 0.214em 0.25em var(--primary2);
  background-color: var(--secondary)
}

.post-container:hover {
  transform: scale(1.03);
  transform-origin: 0 0;
  background-color: var(--secondary2);
}