* {
  box-sizing: border-box;
}

:root {
  --primary: #1C1C1C;
  --primary: #161616;
  --secondary: #303030;
  --secondary2: #282828;
  --tertiary: #232323
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--primary);
  color: #EFEFEF;
  margin: 0;
}

.container {
  width: 1400px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.main-container {
  background-color: var(--secondary);
}

.img-container {
  background-color: var(--tertiary);
}

.flex-container {
  padding: 10px 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.flex-container.row {
  flex-direction: row; 
}

.flex-container.column {
  flex-direction: column;
}

.column-lg {
  padding: 3px;
  flex-grow: 9;
}

.column-md {
  padding: 3px;
  flex-grow: 1;
}

.row-lg {
  flex-grow: 9;
}

.row-md {
  flex-grow: 1
}

.force-right {
  text-align: right;
}

.img-container img {
  display: block;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100vh;
}

.nav-content {
  display: inline;
  text-decoration: none;
  float: left;
}

.nav-title {
  background-color: var(--secondary);
}

input[type="text"], input[type="password"] {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 3px;
  width: 200px;
  height: 25px;
  display: block;
  margin: auto;
  border: 1px var(--secondary);
  border-radius: 2px;
  color:#EFEFEF;
  background-color: var(--primary);
}

input[type="submit"] {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--tertiary);
  color: #EFEFEF;
  border: none;
  border-radius: 3px;
  display: block;
  margin: auto;
  padding: 5px;
}

label {
  font-size: 16px;
  padding: 2px;
  display: block;
  text-align: center;
  margin: auto;
}

fieldset {
  border-radius: 5px;
  border-color: var(--tertiary);
  background-color: var(--secondary);
}

a {
  color: #00B7FF;
}

a.nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 14px 16px;
  color: #EFEFEF;
}

nav ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--secondary)
}

nav li:hover {
  background-color: var(--tertiary)
}

input:focus {
  outline: 2px solid #008b8b;
}

input[type="submit"]:hover {
  background-color: var(--secondary2)
}

input[type="submit"]:active, input[type="submit"]:focus {
  outline: var(--primary2) solid 2px;
  box-shadow: -3px 3px 4px var(--primary);
  background-color: var(--secondary)
}