/*TODO: Figure out some styline for checkboxes*/

* {
  box-sizing: border-box;
}

:root {
  --default-font: 16px "Lato", Helvetica, sans-serif;
  --primary: #1C1C1C;
  --primary2: #161616;
  --secondary: #303030;
  --secondary2: #282828;
  --tertiary: #232323
}

body {
  font: var(--default-font);
  background-color: var(--primary);
  color: #EFEFEF;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding-right: 1.1em;
  padding-left: 1.1em;
}

.main-container {
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--tertiary)
}

.img-container {
  width: 100%;
  max-width: 90vh;
  height: auto;
  background-color: var(--tertiary)
}

.flex-container {
  padding: 0.75em 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.flex-container.row {
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container.column {
  flex-direction: column;
}

.column-lg {
  padding: 0.21em;
  flex-grow: 9;
}

.column-md {
  padding: 0.21em;
  flex-grow: 1;
}

.row-lg {
  flex-grow: 9;
}

.row-md {
  flex-grow: 0;
}

.center-text {
  text-align: center;
}

.img-container img {
  padding: 0 1em;
  display: block;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: auto;
}

.nav-content {
  text-decoration: none;
}

.nav-title {
  background-color: var(--secondary);
}

.post-flex.row-md {
  flex-basis: 25%;
}

.post-container {
  border-radius: 0.5em;
  width: 450px;
  height: 410px;
  background-color: var(--secondary);
  transition: all 0.3s ease-in-out;
}

.thumbnail-container {
  display: block;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 350px;
  object-fit: scale-down
}

.input-text {
  font: var(--default-font);
  padding: 0.21em;
  width: 14.28em;
  height: 1.7em;
  display: block;
  margin: auto;
  border: 0.07em var(--secondary);
  border-radius: 0.14em;
  color:#EFEFEF;
  background-color: var(--primary);
}

.post-button {
  font: var(--default-font);
  background-color: var(--tertiary);
  color: #EFEFEF;
  border: none;
  display: block;
  margin: auto;
  padding: 0.357em;
}

.input-label {
  font-size: 1.14rem;
  padding: 0.14em;
  display: block;
  text-align: center;
  margin: auto;
}

.input-warn {
  color: #ff0015;
  padding-top: 0.357em;
  font-size: 0.75rem;
  display: block;
  text-align: center;
}

.input-file {
  display: block;
  margin: auto;
}

.main-field {
  border-radius: 0.357em;
  border-color: var(--tertiary);
  background-color: var(--secondary);
}

a {
  color: #00B7FF;
}

a.nav-link {
  text-decoration: none;
  padding: 1em 1.14em;
  color: #EFEFEF;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--secondary);
  gap: 0.5em
}

.nav-link:hover {
  background-color: var(--tertiary)
}

.input-text:focus {
  outline: 0.142em solid #008b8b;
}

.post-button:hover {
  background-color: var(--secondary2);
}

.post-button:active, .post-button:focus {
  outline: var(--primary2) solid 0.142em;
  box-shadow: -0.214em 0.214em 0.25em var(--primary2);
  background-color: var(--secondary)
}

.post-container:hover {
  transform: scale(1.03);
  transform-origin: 0 0;
  background-color: var(--secondary2);
}

.info-container {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 1.5em;
  background-color: var(--secondary);
  border-radius: 0.5em;
}

.desc-container {
  flex-grow: 1;
  background-color: var(--secondary);
  padding: 0.5em;
  flex-basis: 100%;
  align-content: flex-end;
  justify-content: center;
  flex-direction: row
}

.comments-container {
  padding: 0.5em;
  justify-content: left;
  flex-direction: column;
  background-color: var(--tertiary)
}

.test {
  display: flex;
  flex-direction: column;
}

.align-start {
  text-align: left;
}

.comment {
  margin-bottom: 1em;
  display: flex;
  gap: 0.5em;
  flex-direction: row;
  align-items: center;
  font-size: 0.95rem;
}

.comment-pfp {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.comment-content {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.mini-post-container {
  display: flex;
  gap: 0.5em;
  flex-direction: row;
  flex-wrap: wrap
}

.mini-post {
  max-width: 100px;
  max-height: 100px
}

.profile-pic {
  width: 150px;
  height: 150px;
  object-fit: fill;
  align-self: center;
  border-radius: 50%;
}

.comment-date {
  margin-left: 0.2em;
  font-size: 0.75rem;
  color: gray
}

.comment-box {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.test {
  height: 200px;
}

.warn-box {
  background-color: lightcoral;
  border:  0.1em solid #ff0015;
  border-radius: 0.2em;
  padding: 0.5em 5em;
  text-align: center
}

.title {
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden
}

@media (max-width: 800px) {
  nav {
    flex-direction: column;
  }
}